* {
    font-family: 'Vazir-FD';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    user-select: none;
}

@font-face {
    font-family: 'Vazir-FD';
    src: url('../font/vazir/woff/Vazir-FD.woff') format('woff');
}

.span--Background--Styles {
    background: none;
}

.form-control::placeholder {
    font-size: 12px;
    font-weight: bold;
}

.bi-circle-fill {
    color: red;
    font-size: 17px;
    padding: 8px;
}

.Slider-Items {
    padding: 15px 15px 15px 15px;
    margin: 20px;
    opacity: .7;
    box-shadow: 0 0 20px 0 rgb(230, 230, 230);
    transition: all 1.5s;
}

.Slider-Items:hover {
    opacity: 1;
    transform: scale(1.02);
}

.Slider-Items p {
    line-height: 35px;
    text-align: justify;
}

.Parallax--Img {
    background-image: url("../Images/Header--Img3.jpg");
    min-height: 550px;
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.navbar {
    box-shadow: 0 0 20px 0 rgb(217, 217, 217);
}

.bi-bag-fill {
    color: red;
    padding: 5px;
}

.top--Style {
    top: 115px;
}

.Cart--Btn {
    background: white;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgb(215, 215, 215);
}

.Form--Style {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(219, 219, 219);
    border-radius: 8px;
}

input:focus {
    box-shadow: 0px 0px 5px 0px rgb(219, 0, 0) !important;
}

input:checked {
    background-color: red !important;
    border-color: red !important;
}

tr:hover {
    background: rgba(203, 203, 203, 0.166);
}

.Slider-Items img {
    border-radius: 6px;
}

.badge {
    font-size: 15px !important;
    /* padding: 10px; */
}

.ul--Style {
    right: -105px !important;
    top: 90px !important;
}

.Second--ul--Style {
    right: -100px !important;
    top: 90px !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.img-fluid{
    max-width: 70% !important;
}

table{
    width: 80% !important;
    margin: 0 auto !important;
}